$phones: "only screen and (max-width: 767px)";
$tablet: "only (min-width: 768px) and (max-width: 1023px)";
$desktop: "only (min-width: 1024px)";

body {
    overflow: hidden;
    margin: 0;
}
.main {
    display: flex;
    flex-direction: row;

    > .sidebar {

        height: 100vh;
        width: 20%;
        max-width: 15%;

        .add-group {
            display: flex;
            justify-content: center;
            margin: 5px;
            height: 70px;
        }
    }
    
    > .contacts {
        height: 100vh;
        width: 85%;
        display: flex;
    }

    .card {
        width: 100%;

        > .actions {
            display: flex;
            justify-content: flex-end;
            height: 70px;
            border-bottom: 1px solid grey;
            margin: 5px
        }

        > .contacts-list {
            height: calc(100vh - 150px);
            overflow: auto;
        }
    }

    .contact-card {
        display: flex;
        margin: 5px
    }

    .card-content {
        width: 70%;
    }

    .card-actions {
        width: 30%;
        justify-content: flex-end;
    }
}



