.remote-videos {
    display: flex;
    flex-direction: row;
    justify-content: center;

    video.remote-video {
        height: 200px;
    }
}

@media screen and (min-width: 1024px) {
    .dashboard {
        height: calc(100vh - 68px);
        display: flex;
        flex-direction: column;
    }
}
