
@media screen and (max-width: 1023px) {
    .dashboard{
        height: calc(100vh - 61px);
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .dashboard{
        height: calc(100vh - 68px);
        display: flex;
        flex-direction: column;
    }
}

.address-books {
    height: 100%;
    overflow: auto;
}

.add-button {
    justify-content: center;
    display: flex;
}