$header-height: 50px;
.authentication {
    display:flex;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-auth {
    box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
    width: 300px;
    height: 300px;
  
    .auth-header {
        height: $header-height;
        margin: 0;
        width: 100%;
        background: #3F51B5;
        > h2 {
            color: #FFFFFF;
            margin: 0;
            padding: 10px;
        }
    }
    .auth-fields {
        display: flex;
        flex-direction: column;
        height: calc(100% - $header-height);
        justify-content: center;
        align-content: center;
        align-items: center;
        
        .auth-candidate {
            width: 90%;
            margin-bottom: 40px;
        }
        
        .submit-auth {
            width: 90%;
            display: flex;
            flex-direction: inherit;
        }
    }
}

